.gradle
build
_build
.classpath
.project
.settings
bin
src/main/Main.iml
*.iml
*.ipr
*.iws
out/
.idea/
/nbproject/private/
/nbbuild/
/dist/
nbproject
build.xml
.DS_Store
/_lib
/gradlew_release.cmd
/gradle_localOverride.cmd
